<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>6366B642-BFD9-498E-A5DF-39975F9AC1A1</key>
		<dict>
			<key>HV</key>
			<string>119</string>
			<key>nV</key>
			<string>111</string>
		</dict>
	</dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
		<string>HHHHHH</string>
		<string>nnnnqnnn
ooooqooo
nnnbqnnnn
oooobooo
nnnnvnnnnn
bnbnbnbnn
oooovooooo
llll
HPiIvTE
 HHHIHHH
OOOIOOOI
HHHEHHHH
nlino bilililiililililililililliininininininininio 
Ilnobo
Pilno
Olno
FrwL
aBgN
dcCfU
nnmm
VGp</string>
		<string>CD</string>
		<string>ncnn</string>
		<string>GO</string>
		<string>PO</string>
		<string>NH</string>
		<string>ge</string>
		<string>HBHCHDHEHFHGHHHIHLHNHOHPHQHTHUHVH
OBOCODOEOFOGOHOIOLONOOOPOQOTOUOVO

HHHHBHHHOOOBOOOO
HHHHCHHHOOOCOOOO
HHHHDHHHOOODOOOO
HHHHEHHHOOOEOOOO
HHHHFHHHOOOFOOOO
HHHHGHHHOOOGOOOO
HHHHHHHHOOOHOOOO
HHHHIHHHOOOIOOOO
HHHHLHHHOOOLOOOO
HHHHNHHHOOONOOOO
HHHHOHHHOOOOOOOO
HHHHPHHHOOOPOOOO
HHHHQHHHOOOQOOOO
HHHHTHHHOOOTOOOO
HHHHUHHHOOOUOOOO
HHHHVHHHOOOVOOOO

nanbncndnenfngnhninlnmnnnononpnqnrnvnwn
oaobocodoeofogohoiolomonooooopoqorovowo

nnnnannnoooaoooo
nnnnbnnnoooboooo
nnnncnnnooocoooo
nnnndnnnooodoooo
nnnnennnoooeoooo
nnnnfnnnooofoooo
nnnngnnnooogoooo
nnnnhnnnooohoooo
nnnninnnoooioooo
nnnnlnnnoooloooo
nnnnmnnnooomoooo
nnnnnnnnooonoooo
nnnnonnnoooooooo
nnnnonnnoooooooo
nnnnpnnnooopoooo
nnnnqnnnoooqoooo
nnnnrnnnoooroooo
nnnnvnnnooovoooo
nnnnwnnnooowoooo</string>
		<string>noondal</string>
		<string>Hnamnlbourngnnefontsivn
HAMBURGEFONTSIV</string>
		<string>vw</string>
		<string>bdnpq</string>
		<string>h</string>
		<string>n</string>
		<string>́</string>
		<string>́óó</string>
		<string>OOOHHnnGnie</string>
		<string>P</string>
		<string>BO</string>
		<string>/B.ss01</string>
		<string>lin</string>
		<string>ñ̃ñ</string>
		<string>̃</string>
		<string>̃ñññ</string>
		<string>OQia</string>
		<string>D</string>
		<string>EFHInTUV</string>
		<string>BCDEFGCHILNHnOHHOOPQTUV</string>
		<string>̃nñ</string>
		<string>́ó</string>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>openTypeGaspRangeRecords</string>
			<key>value</key>
			<array>
				<dict>
					<key>rangeGaspBehavior</key>
					<array>
						<integer>0</integer>
						<integer>1</integer>
						<integer>2</integer>
						<integer>3</integer>
					</array>
					<key>rangeMaxPPEM</key>
					<integer>65535</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>GSDimensionPlugin.Dimensions</key>
		<dict>
			<key>6366B642-BFD9-498E-A5DF-39975F9AC1A1</key>
			<dict>
				<key>HH</key>
				<string>119</string>
				<key>HV</key>
				<string>124</string>
				<key>OH</key>
				<string>138</string>
				<key>OV</key>
				<string>131</string>
				<key>nV</key>
				<string>112</string>
				<key>nd</key>
				<string>40</string>
			</dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>6366B642-BFD9-498E-A5DF-39975F9AC1A1</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>B.ss01</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>period</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>space</string>
		<string>.notdef</string>
		<string>acutecomb</string>
		<string>tildecomb</string>
	</array>
</dict>
</plist>
