<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>E</key>
	<string>E_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.001</key>
	<string>n.001.glif</string>
	<key>o</key>
	<string>o.glif</string>
</dict>
</plist>
