<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.ss01</key>
	<string>A_.ss01.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.ss01</key>
	<string>B_.ss01.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.ss01</key>
	<string>C_.ss01.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.ss01</key>
	<string>D_.ss01.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.ss01</key>
	<string>E_.ss01.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.ss01</key>
	<string>F_.ss01.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.ss01</key>
	<string>G_.ss01.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.ss01</key>
	<string>H_.ss01.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>I.ss01</key>
	<string>I_.ss01.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.ss01</key>
	<string>J_.ss01.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.ss01</key>
	<string>K_.ss01.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.ss01</key>
	<string>L_.ss01.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.ss01</key>
	<string>M_.ss01.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.ss01</key>
	<string>N_.ss01.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>Ntilde.ss01</key>
	<string>N_tilde.ss01.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.ss01</key>
	<string>O_.ss01.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.ss01</key>
	<string>P_.ss01.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.ss01</key>
	<string>Q_.ss01.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.ss01</key>
	<string>R_.ss01.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.ss01</key>
	<string>S_.ss01.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.ss01</key>
	<string>T_.ss01.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.ss01</key>
	<string>U_.ss01.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.ss01</key>
	<string>V_.ss01.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.ss01</key>
	<string>W_.ss01.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.ss01</key>
	<string>X_.ss01.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.ss01</key>
	<string>Y_.ss01.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Z.ss01</key>
	<string>Z_.ss01.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.ornm</key>
	<string>a.ornm.glif</string>
	<key>a.ss01</key>
	<string>a.ss01.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>aacute.ss01</key>
	<string>aacute.ss01.glif</string>
	<key>arrowboth</key>
	<string>arrowboth.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>arrowleft</key>
	<string>arrowleft.glif</string>
	<key>arrowright</key>
	<string>arrowright.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>arrowupdn</key>
	<string>arrowupdn.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b.ornm</key>
	<string>b.ornm.glif</string>
	<key>b.ss01</key>
	<string>b.ss01.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>c.ornm</key>
	<string>c.ornm.glif</string>
	<key>c.ss01</key>
	<string>c.ss01.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>colon.ss01</key>
	<string>colon.ss01.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.ornm</key>
	<string>d.ornm.glif</string>
	<key>d.ss01</key>
	<string>d.ss01.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e.ornm</key>
	<string>e.ornm.glif</string>
	<key>e.ss01</key>
	<string>e.ss01.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>eacute.ss01</key>
	<string>eacute.ss01.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.ss01</key>
	<string>eight.ss01.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.ornm</key>
	<string>f.ornm.glif</string>
	<key>f.ss01</key>
	<string>f.ss01.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.ss01</key>
	<string>five.ss01.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.ss01</key>
	<string>four.ss01.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.ornm</key>
	<string>g.ornm.glif</string>
	<key>g.ss01</key>
	<string>g.ss01.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.ss01</key>
	<string>h.ss01.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.ss01</key>
	<string>i.ss01.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>iacute.ss01</key>
	<string>iacute.ss01.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.ss01</key>
	<string>j.ss01.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.ss01</key>
	<string>k.ss01.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.ornm</key>
	<string>l.ornm.glif</string>
	<key>l.ss01</key>
	<string>l.ss01.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>m.ss01</key>
	<string>m.ss01.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n.ss01</key>
	<string>n.ss01.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.ss01</key>
	<string>nine.ss01.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>ntilde.ss01</key>
	<string>ntilde.ss01.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o.ss01</key>
	<string>o.ss01.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>oacute.ss01</key>
	<string>oacute.ss01.glif</string>
	<key>odieresiscomb</key>
	<string>odieresiscomb.glif</string>
	<key>odieresiscomb.ss01</key>
	<string>odieresiscomb.ss01.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.ss01</key>
	<string>one.ss01.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>p.ss01</key>
	<string>p.ss01.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q.ss01</key>
	<string>q.ss01.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>r.ss01</key>
	<string>r.ss01.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>s.ss01</key>
	<string>s.ss01.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.ss01</key>
	<string>seven.ss01.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.ss01</key>
	<string>six.ss01.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t.ornm</key>
	<string>t.ornm.glif</string>
	<key>t.ss01</key>
	<string>t.ss01.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.ss01</key>
	<string>three.ss01.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.ss01</key>
	<string>two.ss01.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u.ss01</key>
	<string>u.ss01.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>uacute.ss01</key>
	<string>uacute.ss01.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni2196</key>
	<string>uni2196.glif</string>
	<key>uni2197</key>
	<string>uni2197.glif</string>
	<key>uni2198</key>
	<string>uni2198.glif</string>
	<key>uni2199</key>
	<string>uni2199.glif</string>
	<key>uni2B88</key>
	<string>uni2B_88.glif</string>
	<key>uni2B8A</key>
	<string>uni2B_8A_.glif</string>
	<key>uniFF03</key>
	<string>uniF_F_03.glif</string>
	<key>uniFF06</key>
	<string>uniF_F_06.glif</string>
	<key>uniFF0F</key>
	<string>uniF_F_0F_.glif</string>
	<key>uniFF1B</key>
	<string>uniF_F_1B_.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v.ss01</key>
	<string>v.ss01.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.ss01</key>
	<string>w.ss01.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>x.ss01</key>
	<string>x.ss01.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>y.ss01</key>
	<string>y.ss01.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>z.ss01</key>
	<string>z.ss01.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.ss01</key>
	<string>zero.ss01.glif</string>
</dict>
</plist>
