<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>R</key>
	<string>R_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>heavyDollarSign</key>
	<string>heavyD_ollarS_ign.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>two</key>
	<string>two.glif</string>
</dict>
</plist>
