<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>894C7598-4722-4DBD-B510-3587365C03A2</key>
		<dict>
			<key>nV</key>
			<integer>132</integer>
			<key>oH</key>
			<integer>106</integer>
			<key>oV</key>
			<integer>135</integer>
		</dict>
	</dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
		<string>
Nominación del 
premio al vivo</string>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>Use Typo Metrics</string>
			<key>value</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMaster.customParameters</key>
	<array>
		<dict>
			<key>name</key>
			<string>subscriptXOffset</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>subscriptXSize</string>
			<key>value</key>
			<integer>700</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>subscriptYOffset</string>
			<key>value</key>
			<integer>140</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>subscriptYSize</string>
			<key>value</key>
			<integer>650</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>superscriptXOffset</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>superscriptXSize</string>
			<key>value</key>
			<integer>700</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>superscriptYOffset</string>
			<key>value</key>
			<integer>477</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>superscriptYSize</string>
			<key>value</key>
			<integer>650</integer>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>894C7598-4722-4DBD-B510-3587365C03A2</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<array>
		<string>_0002</string>
		<string>o</string>
		<string>n</string>
		<string>A</string>
		<string>b</string>
		<string>q</string>
		<string>e</string>
		<string>H</string>
		<string>P</string>
		<string>i</string>
		<string>h</string>
		<string>l</string>
		<string>v</string>
		<string>E</string>
		<string>I</string>
		<string>T</string>
		<string>O</string>
	</array>
	<key>com.schriftgestaltung.gridSize</key>
	<integer>0</integer>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>o</string>
		<string>n</string>
		<string>b</string>
		<string>q</string>
		<string>e</string>
		<string>H</string>
		<string>P</string>
		<string>i</string>
		<string>h</string>
		<string>l</string>
		<string>v</string>
		<string>E</string>
		<string>I</string>
		<string>T</string>
		<string>O</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>F</string>
		<string>G</string>
		<string>L</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Q</string>
		<string>U</string>
		<string>V</string>
		<string>a</string>
		<string>c</string>
		<string>d</string>
		<string>f</string>
		<string>g</string>
		<string>m</string>
		<string>ntilde</string>
		<string>oacute</string>
		<string>p</string>
		<string>r</string>
		<string>w</string>
		<string>f.001</string>
		<string>space</string>
		<string>acute</string>
		<string>tilde</string>
	</array>
	<key>public.skipExportGlyphs</key>
	<array>
		<string>O</string>
	</array>
</dict>
</plist>
