<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
		<string>↑↗→↘↓↙←↖↔↕</string>
		<string>ARTÍCULO 4.- EXAMEN Y CALIFICACION.
 

a). La programación de eXxámenes de secundaria estará sujeta a calendarización de la secretaria de educación pública del estado de Durango.
 

b). Si el alumno llegara a faltar el día de examen, debe acudir con el docente el día siguiente (independientemente si le toca clase o no) para que muestre el justificante y acordar la aplicación del examen.
 

c). La corrección de calificaciones a solicitud de la parte interesada, deberá hacerse a más tardar 3 días después de entregadas las boletas trimestrales, con su respectivo docente, quien deberá realizar las acciones que correspondan. De no respetarse el término establecido, la calificación emitida no podrá modificarse.
 

d). La entrega de calificaciones será el día y hora programada por la Coordinación Académica.
 

E). El departamento de secundaria NO entregará calificaciones después del día señalado, si no se justificara la inasistencia del padre o tutor al citatorio, el alumno será suspendido hasta que se recojan sus calificaciones
 

ARTÍCULO 5.- PRESENTATOTOCION PERSONAL
 

Los AVAWAYAYeYOlumnos de Secundaria deberán portrfar el uniffafefifofutatetitUKO2,kxoun̈ü̈Öotuorme completo y limpio de lunes a viernes, a excepción de eventos especiales autorizados por Subdirección:
 </string>
		<string>ARTÍCULO 6.- TIPOS DE FALTAS.
 

Las faltas al Reglamento Escolar han sido clasificadas en cuatro grupos: LEVES, GRAVES, CONDICIONANTES Y DE TRASLADO
 

Se consideran LEVES las siguientes faltas: (a criterio del Docente)
 

a) Llegar tarde a clases (tolerancia 15 minutos a la 1ra hora).
 

b) No traer materiales de trabajo.
 

c) Hacer desorden en los salones y//o pasillos de la escuela.
 

d) No portar correctamente el uniforme oficial o deportivo.
 

e) Presentarse a clases sin el uniforme, en cuyo caso deberá solicitar permiso de ingreso a la prefectura correspondiente.
 

f) No usar el corte de cabello reglamentario (escolar).
 

g) Presentarse a clases con maquillaje o uñas pintadas.
 

h) Falta frecuente de aseo personal i) Tirar basura fuera de los depósitos destinados para ello.
 

j) Ingerir alimentos dentro de los salones, biblioteca, talleres u oficinas.
 

k) El uso inadecuado del celular en el aula, en caso de ser sorprendido haciendo uso de dichos aparatos, se recogerá el celular dejándolo a disposición de subdirección de secundaria.
 

l) Encubrir cualquier violación al reglamento en cualquiera de los casos antes mencionados.
 

m) En caso de robo o pérdida por descuido del alumno de objetos de valor, el instituto no se hace responsable, ni intervendrá en la solución de dicha situación.
 

n) Mostrar indisciplina en el acto cívico.
 

o) ser parte de la mala utilización de ciber-espacio (redes sociales) dentro y fuera de la escuela.
 

 

Se consideran GRAVES las siguientes faltas.
 

a) Reincidencia en cualquiera de los puntos antes mencionados.
 

b) Maltratar pertenencias de los compañeros con la intención de dañar.
 

c) Salirse de clases y ode la escuela sin permiso.
 

d) Incumplimiento sistemático de tareas.
 

e) Exceso de faltas injustificadas
 

f) No entrar a clases estando dentro de la Institución por causa injustificada.
 

Se consideran COHNDICIONANTES las siguientes faltas, y haber sido suspendido por segunda ocasión.
 

a) Acumulación de reportes graves o sanciones por reincidencia
 

b) Cualquier tipo de agresión física y verbal a los maestros o trabajadores de la institución en cualquier modalidad.
 

c) Falta de respeto a las personas ajenas a la comunidad escolar que concurran al plantel.
 

d) Destrucción o maltrato de bienes pertenecientes al plantel yotrabajadores del Instituto (anexos, edificios y mobiliario, automóviles, etc.).
 

e) Introducir al plantel material pornográficos de cualquier tipo.
 

f) Fumar dentro de la escuela.
 

g)( Introducción yoconsumo de bebidas embriagantes dentro de la institución, el uso de modismos como piercing, aretes, expansiones, espinas, etc.
 </string>
		<string>/Auditorio/Cooperativa/Cubrebocas/Hombre/Laboratorio/Lavar/Mujer</string>
		<string>Thridace Southwark Apaise Slivovics Violavit Can Appartements Jednotkou Standard Glad Feje Portogallo Fugis Gags Meddelelsen Basilicus Unpalatable Vísindum Maistui Filmuna Polygraph Barque Some Decretive Inveigh Staande Tibia Isabella Feljönni Szeretjük Escanyussada Súgja Epistulam Ven Scyphistomae Oddelenie Connecto Pachak Nevyhral Mariage Hallussapidosta Lew Medlem Assertory Death-Mask Eclecticism Notis Ann Mesas Injunctively
FaFeFiFoFuFrFl</string>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>master01</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>Eacute</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Odieresis</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Udieresis</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>Q.ss01</string>
		<string>a</string>
		<string>aacute</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>eacute</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>odieresis</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>uacute</string>
		<string>udieresis</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>g.ss01</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>CR</string>
		<string>.notdef</string>
		<string>space</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>hyphen</string>
		<string>underscore</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>at</string>
		<string>ampersand</string>
		<string>bar</string>
		<string>dollar</string>
		<string>upArrow</string>
		<string>northEastArrow</string>
		<string>arrowright</string>
		<string>southEastArrow</string>
		<string>downArrow</string>
		<string>southWestArrow</string>
		<string>leftArrow</string>
		<string>northWestArrow</string>
		<string>leftRightArrow</string>
		<string>upDownArrow</string>
		<string>dieresiscomb</string>
		<string>acutecomb</string>
		<string>tildecomb</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>acute</string>
		<string>hungarumlaut</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>ring</string>
		<string>tilde</string>
		<string>macron</string>
		<string>overscore</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>Auditorio</string>
		<string>Biblioteca</string>
		<string>Cooperativa</string>
		<string>Cubrebocas</string>
		<string>Hombre</string>
		<string>Laboratorio</string>
		<string>Lavar</string>
		<string>Mujer</string>
	</array>
	<key>public.postscriptNames</key>
	<dict>
		<key>dieresiscomb</key>
		<string>uni0308</string>
		<key>downArrow</key>
		<string>arrowdown</string>
		<key>idotless</key>
		<string>dotlessi</string>
		<key>leftArrow</key>
		<string>arrowleft</string>
		<key>leftRightArrow</key>
		<string>arrowboth</string>
		<key>northEastArrow</key>
		<string>uni2197</string>
		<key>northWestArrow</key>
		<string>uni2196</string>
		<key>southEastArrow</key>
		<string>uni2198</string>
		<key>southWestArrow</key>
		<string>uni2199</string>
		<key>upArrow</key>
		<string>arrowup</string>
		<key>upDownArrow</key>
		<string>arrowupdn</string>
	</dict>
</dict>
</plist>
