<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>700</integer>
	<key>capHeight</key>
	<integer>674</integer>
	<key>descender</key>
	<integer>-300</integer>
	<key>familyName</key>
	<string>Hangar</string>
	<key>openTypeHeadCreated</key>
	<string>2021/09/01 01:08:09</string>
	<key>openTypeHheaAscender</key>
	<integer>940</integer>
	<key>openTypeHheaDescender</key>
	<integer>-260</integer>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>225</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>50</integer>
	<key>openTypeOS2TypoAscender</key>
	<integer>700</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-300</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>200</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>openTypeOS2WinAscent</key>
	<integer>940</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>260</integer>
	<key>postscriptBlueScale</key>
	<real>0.037</real>
	<key>postscriptBlueValues</key>
	<array>
		<real>-15.0</real>
		<real>0.0</real>
		<real>500.0</real>
		<real>515.0</real>
		<real>674.0</real>
		<real>689.0</real>
	</array>
	<key>postscriptFontName</key>
	<string>Hangar-Regular</string>
	<key>postscriptOtherBlues</key>
	<array/>
	<key>postscriptUnderlinePosition</key>
	<integer>-175</integer>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>500</integer>
</dict>
</plist>
