<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>B</key>
		<integer>-9</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>C</key>
		<integer>-9</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>E</key>
		<integer>-43</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>L</key>
		<integer>17</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>R</key>
		<integer>24</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>X</key>
		<integer>-33</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>e</key>
		<integer>-94</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>t</key>
		<integer>-20</integer>
		<key>v</key>
		<integer>-46</integer>
		<key>w</key>
		<integer>-40</integer>
		<key>y</key>
		<integer>-26</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>o</key>
		<integer>7</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>k</key>
		<integer>11</integer>
		<key>y</key>
		<integer>-33</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>e</key>
		<integer>6</integer>
		<key>j</key>
		<integer>-19</integer>
		<key>v</key>
		<integer>-22</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>e</key>
		<integer>-7</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>-27</integer>
	</dict>
</dict>
</plist>
