<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>830</integer>
	<key>capHeight</key>
	<integer>800</integer>
	<key>descender</key>
	<integer>-250</integer>
	<key>familyName</key>
	<string>Musala Papel</string>
	<key>guidelines</key>
	<array>
		<dict>
			<key>angle</key>
			<real>180.054</real>
			<key>x</key>
			<real>918.478</real>
			<key>y</key>
			<real>588.562</real>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<real>148.969</real>
			<key>y</key>
			<integer>-11</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>180</integer>
			<key>x</key>
			<real>270.324</real>
			<key>y</key>
			<real>757.7</real>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<real>512.332</real>
			<key>y</key>
			<real>-173.031</real>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<real>352.701</real>
			<key>y</key>
			<integer>528</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<real>223.618</real>
			<key>y</key>
			<real>64.957</real>
		</dict>
		<dict>
			<key>angle</key>
			<integer>180</integer>
			<key>x</key>
			<real>694.14</real>
			<key>y</key>
			<integer>837</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>180</integer>
			<key>x</key>
			<real>230.324</real>
			<key>y</key>
			<real>770.7</real>
		</dict>
		<dict>
			<key>angle</key>
			<real>180.054</real>
			<key>x</key>
			<real>918.478</real>
			<key>y</key>
			<real>601.562</real>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>x</key>
			<real>512.332</real>
			<key>y</key>
			<real>-237.031</real>
		</dict>
	</array>
	<key>openTypeHeadCreated</key>
	<string>2021/08/16 23:34:50</string>
	<key>openTypeHheaAscender</key>
	<integer>750</integer>
	<key>openTypeHheaDescender</key>
	<integer>-250</integer>
	<key>openTypeHheaLineGap</key>
	<integer>9</integer>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Papel</string>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>250</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>50</integer>
	<key>openTypeOS2TypoAscender</key>
	<integer>830</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-250</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>9</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>759</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>259</integer>
	<key>postscriptBlueValues</key>
	<array/>
	<key>postscriptFontName</key>
	<string>Musala</string>
	<key>postscriptOtherBlues</key>
	<array/>
	<key>postscriptStemSnapH</key>
	<array>
		<real>100.0</real>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<real>50.0</real>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-75</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>styleMapFamilyName</key>
	<string>Musala Papel Papel</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Papel</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>4</integer>
	<key>xHeight</key>
	<integer>600</integer>
</dict>
</plist>
